@font-face {
    font-family: Norse-Bold;
    src: url("./assets/Norse-Bold.otf");
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    --accent-color: rgb(40, 55, 58);
    --accent-hover: rgb(94, 86, 71);
    --background-color: rgba(212, 205, 197);
    --background-color-form: rgb(241, 236, 232);
    --text-color: rbg(0, 0, 0);

    color: var(--text-color);
    font-family: var(--system-ui);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --edge-padding: 20px;
    
    display: flex;
    flex-direction: column;
}

.content {
    padding: 40px 0;
}

.credit {
    bottom: 8px;
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
    /* margin-top: max(80px, 10vw); */
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 200px;
    text-align: center;
}

.form {
    margin: 40px 0 0 0;
}

.form-controls {
    background-color: var(--background-color-form);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
    padding: 20px var(--edge-padding);
}

h1 {
    font-family: Norse-Bold;
    font-size: clamp(2.8em, 5vw, 4rem);
    letter-spacing: -1px;
    line-height: 1.2em;
}

h2 {
    font-family: Norse-Bold;
    font-size: clamp(2em, 4vw, 3rem);
    letter-spacing: -1px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

html {
    background-color: var(--background-color);
}

.introduction {
    padding: 0 var(--edge-padding);
}

.input-fields {
    --error-color: rgba(199, 15, 15, 0.925);
    --focus-color: rgba(214, 220, 255, 0.925);
    --valid-color: rgb(194, 248, 201);
    display: flex;
    flex-direction: column;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
{
  border: none;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px var(--valid-color) inset;
  transition: background-color 5000s ease-in-out 0s;
} */

.input-fields input {
    border-radius: 3px;
    font-size: .9rem;
    margin-bottom: 5px;
    width: min(300px, calc(100% - 19px));
    padding: 5px;
    transition: all .3s ease;
}

.input-fields input:invalid {
    border: 1px solid var(--error-color);
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.input-fields input:focus-visible {
    background-color: var(--focus-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--focus-color) inset;
}
    
.input-fields input:invalid + span::after {
    content: "🗙";
}

.input-fields input:valid {
    border: 1px solid green;
    background-color: var(--valid-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--valid-color) inset;
}

.input-fields input:valid + span::after {
    color: green;
    content: "✔";
}

.input-fields input + span {
    color: var(--error-color);
    padding-left: 3px;
}

.input-fields label span:first-child {
    display: block;
    font-size: .9rem;
    font-weight:500;
    margin-bottom: 3px;
    margin-top: 8px;
    text-transform: uppercase;
}

.introduction p {
    font-size: 1.1rem;
    line-height: 1.4em;
    margin: 10px 0;
    width: min(60ch, 100%);
}

.login {
    font-size: .9rem;
    padding: 20px var(--edge-padding)
}

.login a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
}

.login a:hover {
    color: var(--accent-hover);
    text-decoration: underline;
}

.logo {
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex: 1;
    height: 250px;
    justify-content: center;
    padding: 20px 0;
}

.logo img {
    width: min(70px, 100%);
    height: auto;
}

.logo span {
    color: white;
    font-family: Norse-Bold;
    font-size: 4rem;
}

.profile {
    background: url("./assets/alvaro-serrano-hjwKMkehBco-unsplash.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    position: relative;
    /* padding-top: max(40px, 5vw);
    padding-bottom: 20px; */
}

.submit {
    padding: 20px var(--edge-padding);
}

.submit button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    color: white;
    font-size: .9rem;
    font-weight: bold;
    padding: 10px 20px;
}

.submit button:hover {
    background-color: var(--accent-hover);
}

.submit button:active {
    box-shadow:inset 0px 0px 0px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow:inset 0px 0px 0px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow:inset 0px 0px 0px 3px rgba(0, 0, 0, .1)
}

@media screen and (min-width: 700px) {
    body {
        --edge-padding: 40px;
    }
    .input-fields {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 70ch;
    }

    .input-fields input {
        width: calc(100% - 19px);
    }

    .input-fields label {
        width: 46%;
    }
}

@media screen and (min-width: 1000px) {
    body {
        --edge-padding: 40px;

        flex-direction: row;
        height: 100vh;
    }

    .content {
        flex: 2;
        margin-top: 80px;
    }

    .logo {
        height: unset;
    }

    .profile {
        flex: 1;
        justify-content: space-between;
        /* padding-top: 105px; */
    }
}