@font-face {
    font-family: Norse-Bold;
    src: url("./assets/Norse-Bold.otf");
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    --accent-color: rgb(40, 55, 58);
    --accent-hover: rgb(94, 86, 71);
    --background-color: rgba(212, 205, 197);
    --text-color: rbg(0, 0, 0);

    color: var(--text-color);
    font-family: var(--system-ui);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --edge-padding: 20px;
    
    display: flex;
    flex-direction: column;
}

.content {
    padding: 40px 0;
}

.credit {
    font-size: 12px;
    margin-top: max(80px, 10vw);
    text-align: center;
}

.form {
    margin: 40px 0 0 0;
}

.form-controls {
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    padding: 20px;
}

h1 {
    font-family: Norse-Bold;
    font-size: clamp(2.8em, 5vw, 4rem);
    letter-spacing: -1px;
    line-height: 1.2em;
}

h2 {
    font-family: Norse-Bold;
    font-size: clamp(2em, 4vw, 3rem);
    letter-spacing: -1px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

html {
    background-color: var(--background-color);
}

.introduction {
    padding: 0 20px;
}

.input-fields {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.input-fields input {
    margin-bottom: 5px;
    max-width: 300px;
}

.introduction p {
    font-size: 1.1rem;
    line-height: 1.4em;
    margin: 10px 0;
}

.login {
    font-size: .9rem;
    padding: 20px var(--edge-padding)
}

.login a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
}

.login a:hover {
    color: var(--accent-hover);
    text-decoration: underline;
}

.logo {
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.logo img {
    width: min(50px, 100%)
}

.logo span {
    color: white;
    font-family: Norse-Bold;
    font-size: 3rem;
}

.profile {
    background: url("./assets/alvaro-serrano-hjwKMkehBco-unsplash.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: max(40px, 5vw);
    padding-bottom: 20px;
}

.submit {
    padding: 20px var(--edge-padding);
}

.submit button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    color: white;
    font-size: .9rem;
    font-weight: bold;
    padding: 10px 20px;
}

.submit button:hover {
    background-color: var(--accent-hover);
}

.submit button:active {
    box-shadow:inset 0px 0px 0px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow:inset 0px 0px 0px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow:inset 0px 0px 0px 3px rgba(0, 0, 0, .1)
}